body{
background-image: url("img/fondo.png");

}
.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}

.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
    color: whitesmoke;
    font-weight: bold;    
    
}
.img-carrito{
    width:250px;
    height: max-content;
    padding: 20px;
} 
.modal-content{
    background-color: rgba(5, 5, 5, 0.945);
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
    color: aliceblue;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}

#text{
    color: black;
}

#compra{
    margin-top: 100px;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
    border-color: whitesmoke;
    border-style: solid;
}

.texto{

    color: black;
    font-weight: 900;
}




#myModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    
  }
  
  .close {
    
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 7%;
    text-align: center;
    border-style: solid;
    border: 5px;
    border-color: black;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
   
  }

  #btn-close:hover{
    background-color: red;
  }

  #textoinfo{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }

  #texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  #precioInfo{
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }
  .d-flex{
    margin-top: 30px;
    justify-content: space-between;
  }

  .img-info{
    cursor: pointer;
  }